.App {
   font-family: Roboto, sans-serif;
   font-weight: bolder;

   display: flex;
   align-items: center;
   justify-content: center;

   height: 100vh;

   background-color: #c2c2d6;
}

.container {
   width: 300px;
   min-height: 450px;

   border-radius: 5px;
   background-color: #000;
}

.display {
   font-size: 30px;

   display: flex;
   align-items: center;
   justify-content: flex-end;

   min-height: 80px;
   padding: 20px;

   color: #fff;
   border-radius: 5px 5px 0 0;
   word-wrap: break-word;
   white-space: pre-line;
   word-break: break-all;
}

.controls {
   display: flex;

   padding: 10px;
}

.numContainer {
   width: 75%;
}

.opsContainer {
   width: 25%;
}

.button {
   font-size: 35px;

   width: 60px;
   height: 60px;
   margin: 5px;

   color: white;
   border: none;
   border-radius: 50px;
   background-color: deepskyblue;
}

.button:hover {
   cursor: pointer;

   opacity: 0.90;
}

.button:active {
   transform: scale(0.97);

   border: none;
   outline: none;
}

.button:focus {
   outline: 0;
}

.big-w {
   width: 130px;
}

.big-h {
   height: 130px;
}

.orange {
   background-color: #ec9313;
}

.lightGray {
   background-color: #a6a6a6;
}

.gray {
   background-color: #333;
}
